:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-backgroud-color: #f5f5f5;
  --dark-background-color: #2f303a;
  --background-color-header: #ffffff;
  --filters-color: #f5f4fa;
  --addinational-background-color: #eeeeee;
  --links-color: rgba(255, 255, 255, 0.6);
}
/*   основний колір тексту  #757575 */
/* вторинний колір тексту #212121 */
/* білий #FFFFFF */
/* акцент #2196F3 */

/* колір шапки #FFFFFF */
/* основний колір фону #F5F5F5 */
/* колір фона 1 #F5F4FA */
/* колір фона 2 #2F303A */
.page {
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
li {
  list-style-type: none;
}
/* header styles */
.page .logo,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.page-header {
  background-color: var(--background-color-header);
}
.logo {
  color: var(--secondary-text-color);
}
.logo-blue {
  color: var(--accent-color);
}
.site-nav a,
.auth-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.site-nav a {
  color: var(--secondary-text-color);
}
.auth-nav a {
  color: var(--primary-text-color);
}
.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* hero styles */
.hero,
.btn {
  color: var(--background-color-header);
  background-color: var(--dark-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 00.03em;
  font-family: inherit;
}
/* main styles */
main .main {
  background-color: var(--main-backgroud-color);
}
.list-title-list li {
  background-color: var(--background-color-header);
}
.team-box {
  background-color: var(--filters-color);
}
.list-title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.main-list .list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
}
.portfolio .list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.main-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.team-box .main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.portfolio .main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn-page {
  background-color: var(--filters-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
}
.btn-page:hover,
.btn-page:focus {
  background-color: var(--accent-color);
  color: var(--background-color-header);
}
.buttons-list {
  background-color: var(--background-color-header);
}
.portfolio li {
  background-color: var(--addinational-background-color);
}
/* footer styles */
.footer {
  background-color: var(--dark-background-color);
}
.logo-footer {
  text-decoration: none;
  color: var(--background-color-header);
}
.contacts-list a {
  color: var(--background-color-header);
  text-decoration: none;
  font-style: normal;
}
.footer .link-to {
  color: var(--links-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer .link-to:hover,
.footer .link-to:focus {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
